@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean');
@charset "utf-8";
*{margin:0;padding:0;}
html, body { font-family: 'Nanum Gothic', sans-serif; margin: 0px; padding: 0px; border: 0px; width: 100%; height: 100%; -webkit-font-smoothing: antialiased; background-color: #fff; }
table {border-spacing:0;border-collapse:collapse;}
table td, table th {padding:0;}
a:link, a:visited, visited, active, hover, focus { color:#000 ; text-decoration: none; -webkit-tap-highlight-color:rgba(0,0,0,0); }
.text-right{text-align: right}.text-left{text-align:left}.text-center{text-align:center}.row{display:block;position: relative;}
.container {
    display: table;
    width: 100%;
    min-height: 100%;
}
.container .sidebar {
    display: table-cell;
    vertical-align: top;
    width: 300px;
    background-color: #0946a6;
    font-size: 0px;
}
.container .sidebar .section {
    display: inline-block;
    background-color: #0946a6;
    font-size: 0px;
    box-sizing: border-box;
    padding: 50px 40px;
    width: 300px;
}
.container .sidebar .title {
    font-size: 24px;
    font-weight: 100;
    color: #fff;
}
.container .sidebar ul {
    list-style: none;
    box-sizing: border-box;
    padding: 15px 0px;
    width: 100%;
}
.container .sidebar ul li {
    box-sizing: border-box;
    padding-bottom: 20px;
}
.container .sidebar ul li a {
    font-size: 16px;
    color: #fff;
}
.container .sidebar ul li > ul {
    list-style: none;
    width: 100%;
}
.container .sidebar ul li > ul > li {
    padding: 0px;
}
.container .sidebar ul li > ul > li > a {
    display: block;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-radius: 4px;
}
.container .sidebar ul li > ul > li > a.active {
    background-color: #0a3d8d;
}
.container .sidebar ul li > ul > li > a:hover {
    background-color: #0b367c;
}
.container .sidebar ul li > ul > li > a:active {
    background-color: #2683ff;
}
.container .sidebar ul li > ul > li > a  {
    font-size: 16px;
    color: #fff;
}
.container .content {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
    padding: 40px 140px;
    font-size: 14px;
    min-height: 100%;
}
.container .content h1 {
    color: #172b4d;
    font-size: 32px;
    font-weight: 900;
    box-sizing: border-box;
    padding-bottom: 20px;
}
.container .content h2 {
    color: #172b4d;
    font-size: 24px;
    font-weight: 900;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 20px;
}
.container .content form {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    font-size: 0px;
}
.container .content form select {
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    vertical-align: top;
    padding: 0px 10px;
    font-size: 12px;
}
.container .content form input {
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #0946a6;
    background-color: #0946a6;
    padding: 0px 10px;
    color: #fff;
    vertical-align: top;
    font-size: 12px;
}
.dot-dot {
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-align: left;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.graph {
    background-color: #dfdfdf;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    padding: 1px;
    height: 500px;
    padding-bottom: 0px;
}

/* ************************************************************************** */
.table {
	width: 100%;
    background-color: #f9f9f9;
}
.table-bordered {

}
.table-bordered thead {
}
.table-bordered thead th {
    padding: 10px 0px;
    text-align: center;
}
.table-bordered thead th,
.table-bordered tfoot td {
	border: 1px solid #ccc;
	font-weight: bold;
    background-color: #e0e0e0;
    box-sizing: border-box;
}
.table-bordered tfoot {

}
.table-bordered tfoot td {
    position: relative;
    padding: 25px 8px 15px 0px;
}
.table-bordered tfoot td span {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 10px;
}
.table-bordered tbody {

}
.table-bordered tbody tr {

}
.table-bordered tbody tr td {
	border: 1px solid #e9e9e9;
	padding: 10px 14px;
	box-sizing: border-box;
}
.table-bordered tbody tr td a {
	color: inherit;
}
.table-bordered tbody tr td.img,
.table-bordered tbody tr td.img-sm,
.table-bordered tbody tr td.img-std {
	padding: 0px;
	line-height: 0px;
}
.table-bordered tbody tr td.img {
	width: 140px;
}
.table-bordered tbody tr td.img-sm {
	width: 70px;
}
.table-bordered tbody tr td.img-std {
	width: 100px;
}
.table-bordered tbody tr td.img img {
	width: 140px;
	height: 100%;
}
.table-bordered tbody tr td.img-sm img {
	width: 70px;
	height: 100%;
}
.table-bordered tbody tr td.img-std img {
	width: 100px;
	height: 100%;
}
.table-bordered tbody tr td.menu {
	padding: 0px 10px;
	font-size: 0px;
}
.table-bordered tbody tr td.menu .menu-item {
	font-size: 12px;
	text-align: center;
	border-right: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	padding: 3px 0px;
	box-sizing: border-box;
	background-color: #fff;
	cursor: pointer;
	display: block;
	color: rgb(100, 100, 100);
}
.table-bordered tbody tr td.menu .menu-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.table-bordered tbody tr td.menu .menu-item:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom: 1px solid #dfdfdf;
}
.table-bordered tbody tr td.menu .menu-item:hover {
	transition: 0.4s;
	background-color: rgb(250, 250, 250);
}
.table-striped {

}
.table-striped tbody tr:nth-child(odd) td {
    background-color: #f9f9f9;
}
.table-hover {

}
.table-hover tbody tr:hover td {
    background-color: #f9f9f9;
}

.schedule {
    padding: 0px;
    background-color: #fff;
}
.schedule .row {
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    padding: 10px;
}
.schedule .row:last-child {
    border-bottom: 0px;
}
.schedule .row td {
    padding: 0px;
    border: 0px;
}
